
%section
  -# TODO flash thingy in rails.
  .projects
    .projects__uid
      %h2 #{@key}
    .projects__new
      = form_tag("/projects/#{@key}/copies", method: "post") do 
        %ul
          %li
            - if @name
              .projects__show_user_name
                %p #{@name}
                = hidden_field_tag(:name, @name)
            - else
              .projects__input_user_name
                = text_field_tag(:name, nil, placeholder: "Enter Your Name", maxlength: 50)
          %li
            .projects__copy_text_box
              = text_area_tag(:copy, @default_content, cols: 32, rows: 5)
          %li
            .projects__submit
              = submit_tag("Create!")
    .projects__copy_details
      - if !@copies.empty?
        %h2 Previous Copy Contents
        %hr
        .projects__copy_details_heading
          .projects__copy_details_date_heading
            %h3 Date changed
          .projects__copy_details_changer_heading
            %h3 Changer
        - @copies.each do |copy|
          .projects__copy_details_entry
            .projects__copy_details_entry_date
              #{copy.date.localtime}
            .projects__copy_details_entry_changer
              #{copy.name}
            .projects__copy_details_entry_text
              #{copy.text}
          
