
%section
  -# TODO flash thingy in rails.
  .projects

    .projects__flash
      - if flash
        - flash.each do |name, msg|
          %div{class: name}
            %h1 #{msg}

    .projects__new
      = form_tag("/projects/#{@key}/copies", method: "post") do
        %ul
          %li
            - if @name
              .projects__show_user_name
                %p
                  <strong>#{@name}</strong>, make your changes to the copy below or if this is
                  the first version, paste it in before sending the url
                  to your reviewers:
                = hidden_field_tag(:name, @name)
            - else
              .projects__input_user_name
                = text_field_tag(:name, nil, placeholder: "Enter Your Name", maxlength: 50)
          %li
            .projects__copy_text_box
              = text_area_tag(:copy, @default_content, cols: 32, rows: 5,
                placeholder: "Enter your copy here")
          %li
            .projects__submit
              = submit_tag("Save this copy for others to review")

    .projects__copy_details
      - if !@copies.empty?
        %h3 Previous Copy Changes

        - @copies.each do |copy|
          .projects__copy_details_entry
            %strong= copy.name
            made changed this copy
            = time_ago_in_words(copy.date.localtime)
            ago
            %a.preview Preview this version of copy
            .projects__copy_details_entry_text
              = simple_format h(copy.text)
            - next if @copies.first == copy
            .projects__copy_diff
              %a(href="/#{@key}/?#{{name: @name, diff: copy.id}.to_param}") Diff this version of copy
              - if @diffoutput_for.to_i == copy.id.to_i
                = raw(@diffoutput)
