
%section
  -# TODO flash thingy in rails.
  .projects
    .projects__uid
      %h2 #{@key}
    = form_tag("/projects/#{@key}/copies", method: "post") do
      - if @name
        .projects__show_user_name
          %p #{@name}
          = hidden_field_tag(:name, @name)
      - else
        .projects__input_user_name
          = text_field_tag(:name, nil, placeholder: "Enter Your Name", maxlength: 50)
      .projects__copy_text_box
        = text_area_tag(:copy, nil)
      .projects__submit
        = submit_tag("Create!")
    .projects__copy_details
      %ul
        - @copies.each do |copy|
          %li #{copy.date} #{copy.name}
          
